################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Vidly/bin
/Vidly/obj/Debug
/Vidly/.vs/Vidly
/Vidly/App_Data/aspnet-Vidly-20190601094853_log.ldf
/Vidly/App_Data/aspnet-Vidly-20190601094853.mdf
