@model Vidly.Models.Customer
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    <li>
        <span class="font-weight-bold">Membership Type: </span>
        <span>@Model.MembershipType.Name</span>
    </li>
    @if (Model.Birthdate.HasValue)
    {
        <li>
            <span class="font-weight-bold">Birthdate: </span>
            <span>@Model.Birthdate.Value.ToShortDateString()</span>
        </li>
    }
</ul>