@model Vidly.ViewModels.CustomersViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.Customers.Count == 0)
{
    <p>We don't have any customers.</p>
}
else
{
    <h2>Customers</h2>
    <table class="table table-bordered table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Customer</th>
            </tr>
        </thead>
        @foreach (var customer in Model.Customers)
        {
            <tbody>
                <tr>
                    <td>
                        @Html.ActionLink(customer.Name, "Details", "Customers", new { id = customer.Id }, null)
                    </td>
                </tr>
            </tbody>
        }
    </table>
}

