@model IEnumerable<Vidly.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="container">
    @if (!Model.Any())
    {
        <div class="row">
            <div class="col-12">
                <p>We don't have any customers.</p>
            </div>
        </div>
    }
    else
    {
        <div class="row">
            <div class="col-12">
                <h2>Customers</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Customer</th>
                            <th>Membership Type</th>
                        </tr>
                    </thead>
                    @foreach (var customer in Model)
                    {
                        <tbody>
                            <tr>
                                <td>
                                    @Html.ActionLink(customer.Name, "Edit", "Customers", new { id = customer.Id }, null)
                                </td>
                                <td>
                                    @customer.MembershipType.Name
                                </td>
                            </tr>
                        </tbody>
                    }
                </table>
            </div>
        </div>
    }
</div>